*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
h1,h2{
    background: #ccc;
}
section{
    padding: 20px;
    position: relative;
    background: -webkit-linear-gradient(top, #CCC, #FFF);
}
hr{
    width: 100%;
    margin: auto;
}
table{
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}
th{
    background: burlywood;
}
td:last-child{
    border: none;
}
button{
    background: -webkit-linear-gradient(top, #33f, #ddF);
    color: white;
    border-radius: 10px 10px;
    margin: 2px;
    width: 4em;
}
.newButton{
    width: 10em;
}


